.main-footer {
	width: 100%;
	background: rgb(38, 38, 38);
	padding-top: 50px;
}

.hr {
	border-color: rgb(255, 255, 255);
	margin: 35px 0;
}

.nav-footer span {
	color: #498a49;
}

.nav-footer p {
	color: rgb(255, 255, 255);
	margin: 10px 0;
}

.nav-footer img {
	margin-right: 15px;
}

.li-footer {
	margin: 10px 0;
}

.main-footer ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 0.8em;
}

.politic p {
	font-size: 13px;
}

.politic {
	margin-bottom: 20px;
}

.footer-lang {
	background: url("../img/Stores/world-1.svg") 16px center no-repeat, rgb(55, 55, 55);
	color: rgb(255, 255, 255);
	font-family: 'Roboto';
	font-size: 0.8em;
	padding: 12px 80px 12px 48px;
	border: none;
	outline: none;
}