*,
*:before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  line-height: 1.5;
  opacity: 1;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
}