.main-footer-res {
	width: 100%;
	background: rgb(38, 38, 38);
	padding-top: 50px;
}

.main-footer-res ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 0.8em;
}

.bg-slaider {
	width: 100%;
	background-image: URL("../img/Restaurant/bg-slaider.png");
	object-fit: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-moz-background-size: cover;
	/* Firefox 3.6+ */
	-webkit-background-size: cover;
	/* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: cover;
	/* Opera 9.6+ */
	background-size: cover;
	/* Современные браузеры */
	height: 384px;
}

.card-slaider {
	background-color: rgb(255, 255, 255);
	width: 100%;
	padding: 50px 0 50px 0;
	box-shadow: 1px 1px 15px 0 rgb(182, 182, 182);
}

.slaider-title {
	margin-bottom: 30px;
}


.btn-slaider {
	background-color: rgb(27, 27, 27);
	border: 2px solid rgb(27, 27, 27);
	color: rgb(255, 255, 255);
	border-radius: 40px;
	padding: 6px 11px 6px 11px;
	margin-left: 90px;
}

.content-slaider p {
	font-size: 0.9em;
	line-height: 1.47em;
	color: rgb(91, 91, 91);
}

.content-slaider button {
	font-size: 0.8em;
	line-height: 1.6em;
	font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans',
		-apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

.li-menu {
	margin: 20px 20px 0 0;
}

.li-menu {
	color: #2b2b2b;
	cursor: pointer;
	font-size: 1em;
}

.li-menu.active {
	color: #4ca149
}

.tab-items {
	display: none;
}

.tab-items.active {
	display: block;
}

.h2-menu {
	font-size: 1.5em;
	line-height: 1.5em;
	margin-top: 10px;
}

.card-menu {
	margin-bottom: 33px;
}

.main-card-menu {
	margin-top: 40px;
}

.text-content {
	padding: 23px 10px 23px 17px;
}

.title-card-menu h4 {
	font-size: 1em;
	line-height: 1.5em;
}

.title-card-menu p {
	margin-top: 3px;
	font-size: 0.8em;
	line-height: 1.53em;
	color: #8a8a8a;
}

.price-card-menu p {
	font-weight: 600;
}



@media (max-width: 1200px) {
	.card-menu {
		margin-bottom: 33px;
	}

	.title-card-menu h4 {
		font-size: 0.8em;
		line-height: 1.4em;
	}

	.title-card-menu p {
		margin-top: 3px;
		font-size: 0.6em;
		line-height: 1.43em;
		color: #8a8a8a;
	}


}

@media (min-width: 1200px) {
	.card-menu:hover {
		background: rgb(238, 238, 238);
	}

	.h2-menu {
		margin-top: 25px;
	}

}


@media (max-width: 400px) {

	.btn-slaider {
		margin-top: 20px;
		margin-left: 0;
	}

	.slaider-title {
		margin-bottom: 15px;
	}

	.btn-slaider {
		margin-top: 50px;
		margin-left: 0;
	}

	.content-slaider {
		display: flex;
		flex-direction: column;
	}

	.price-card-menu p {
		margin-top: 20px;
	}

}

@media (max-width: 767px) {
	.img-content img {
		width: calc(140px + (60 + 60 * 0.7) * ((100vw - 320px) / 1280));
		height: 100%;
	}

	.ic-store img {
		width: calc(80px + (40 + 40 * 0.7) * ((100vw - 320px) / 1280));
	}

	.h2-slider {
		font-size: calc(24px + (14 + 14 * 0.7) * ((100vw - 320px) / 1280));
	}

	.title-card-menu h4 {
		font-size: calc(11px + (5 + 5 * 0.7) * ((100vw - 320px) / 1280));
	}

	.title-card-menu p {
		font-size: calc(10px + (3 + 3 * 0.7) * ((100vw - 320px) / 1280));
	}

	.price-card-menu p {
		font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
	}
}

@media (min-width: 767px) {
	.img-content img {
		width: calc(140px + 60 * (100vw / 1280));
		height: auto;
	}

	.ic-store img {
		width: calc(80px + 40 * (100vw / 1280));
	}

	.h2-slider {
		font-size: calc(24px + 14 * (100vw / 1280));
	}

	.title-card-menu h4 {
		font-size: calc(11px + 5 * (100vw / 1280));
	}

	.title-card-menu p {
		font-size: calc(10px + 3 * (100vw / 1280));
	}

	.price-card-menu p {
		font-size: calc(10px + 6 * (100vw / 1280));
	}
}