.search {
  padding-top: 5em;
  width: 100%;
}

.search-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.search-input:focus::placeholder {
  opacity: 0;
}

.SearchText{
  display: none;
}

.ErrorText{
margin-left: 18px;
}