.stores {
	margin-top: 30px;
}

.main-stores-container {
	margin-top: 40px;
}

.card-img {
	overflow: hidden;
	border-radius: 10px;
}

.stores a {
	text-decoration: none;
	color: #262626;
}

.card-img img {
	width: 100%;
	overflow: hidden;
	display: block;
}

.card {
	margin-top: 25px;
}

.stores.hide {
	display: none;
}